header  {
    background-color: rgb(17, 16, 16);
    color: rgb(241, 234, 234);
    height: 8,9vh;
    margin: 0;
   
  
  }
  #pic{
    width: 4em;
    height: 4em;
    justify-content: start; 
  
  }
  .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  
  #title {
    text-align: center;
    margin: 0;
    flex: 1; 
  }
  
  .file-label {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background: linear-gradient(135deg, #35383a, #1a5276); /* Gradient background */
    color: #fff; 
    border-radius: 5px;
    cursor: pointer;
    border: none; 
    margin-bottom: 10px;
    height: 9vh;
    align-items: center;
    align-content: center;
    box-shadow: 0 10px 20px rgba(108, 140, 162, 0.3), 
                inset 0 0 10px rgba(255, 255, 255, 0.2); /* Enhanced shadow effect */
  }
  
  
  
    main {
      background-color: #f2f2f2; /* Set background color */
      align-items: center;
      justify-content: center;
      height: 80vh;
      display: flex;
      margin: 0;
      max-width: 80%; 
      justify-content: space-evenly;
  }
  .submit-form{
    background: linear-gradient(145deg, #ffffff, #e6e6e6); /* Add gradient for 3D effect */
  
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    width: 350px;
       height: 50vh;
    max-width: 80%; 
    justify-content: space-evenly
  }
  .block{
    display: flex;
    flex-direction: column;
    
  }
  
  .submit {
    background-color: rgba(63, 14, 224, 0.2);
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    
    
  
  }
  
  .submit:hover {
    background-color: rgba(72, 67, 67, 0.4); /* Darker background color on hover */
  }
  
  h1{
    text-align: center;
  }
  footer{
    background-color: rgb(17, 16, 16);
    height: 6vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
  }
  
  